{% extends 'base.html.twig' %}

{% block title %}Nouvel·le auteurice{% endblock %}

{% block body %}
{% include "_navbar.html.twig" %}

    <h1 class="mt-5">Créer un·e nouvel·le auteurice</h1>

    {{ include('author/_form.html.twig') }}

    <a href="{{ path('app_author_index') }}">Retour à la liste</a>
{% endblock %}
