{% extends 'base.html.twig' %}

{% block title %}My best library{% endblock %}

{% block body %}
   {% include "_navbar.html.twig" %}
   <h1 class="text-center mt-5">MY BEST LIBRARY</h1>

<div class="d-flex justify-content-center mb-3 col-8 col-md-6 m-auto">
				<input class="form-control search-glass" id="searchHeadline" placeholder="Faire une recherche par auteurice"/>
			</div>
			<div id="searchBooks" class="row d-flex justify-content-center"></div>

   
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('listSearchBooks') }}
{% endblock %}
