{% extends 'base.html.twig' %}

{% block title %}My best library{% endblock %}

{% block body %}
<main>
   {% include "_navbar.html.twig" %}
   <div class="container">
        <h1 class="text-center mt-5">MY BEST LIBRARY</h1>
   </div>
</main>
{% endblock %}
