{% extends 'base.html.twig' %}

{% block title %}My best library{% endblock %}

{% block body %}
<main class="bg-user">
   {% include "_navbar_user.html.twig" %}
   <h1 class="text-center mt-5">MY BEST LIBRARY</h1>
   <div class="container text-center">
      <div class="row justify-content-around"> 
         <a class="mb-3" href="{{ path('app_author_index') }}">Gérer les auteurices</a>
      </div>
      <div class="row justify-content-around"> 
         <a class="mb-3" href="{{ path('app_book_index') }}">Gérer les livres</a>
      </div>
   </div>
</main>
{% endblock %}