@import url("https://fonts.googleapis.com/css2?family=Solitreo&display=swap");

// customize some Bootstrap variables

@import "~bootstrap/scss/bootstrap";


body {
    // background-image: url(/assets/images/bg.png);
    // background-repeat: no-repeat;
    // background-size: cover;
    font-family: 'Solitreo', cursive;
    background-color: #a4893b;
}

.navbar {
    border-bottom-style: double;
}

a {
    text-decoration: none;
    color: black;
    color: var(--bs-table-color);
    &:hover {
        color: var(--bs-table-color);
        font-weight: bold;
    }
}

.cut {
    white-space: nowrap;
    overflow: hidden;
}

.overflow-ellipsis {
    text-overflow: ellipsis;
}

.book-card {
    width: 22rem;
}