 <nav class="navbar .bg-transparent">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home/user/">Mon accueil</a>
        <a class="navbar-brand" href="/">accueil public</a>
        {% if app.user %}
            <a class="navbar-brand" href="{{ path('app_home_user')}}">
            {{ app.user.email }} </a>
            <a class="navbar-brand" href="{{ path('app_logout') }}"> Se déconnecter</a>
        {% else %}
            <a class="navbar-brand" href="{{ path('app_login') }}"> Se connecter</a>
        {% endif %}
    </div>
</nav>
